
<span id="navPanelUserWelcome"></span>
<image src="../static/images/big_dog.jpg" class="navPanelImage"></image>
<span id="navPanelPicture"></span>
<a href="/patientSelect" class="btn btn-primary" id="selectPatientButton">Select Patient</a>
<a href="/insurance" class="disabled btn btn-primary" id="insuranceButton">Insurance</a>
<a href="/claims" class="disabled btn btn-primary" id="claimsButton">Claims</a>
<a href="/orders" class="disabled btn btn-primary" id="ordersButton">Orders</a>
<a href="/patientHistory" class="disabled btn btn-primary" id="patientHistoryButton">History</a>

<button type="button" class="btn btn-primary">Patient Care</button>
<a href="/messaging" class="btn btn-primary" id="messagingButton"> Messaging</a>
<button type="button" class="btn btn-primary">Calendar</button>
<a href="/employeeForm" class="btn btn-primary" id="createEmployeeButton"> Create Employee</a>
