    <span>Welcome, <span id="navPanelUserWelcome"></span></span><BR>
    <span id="navPanelPicture"></span><BR>
    <a href="/insurance" class="btn btn-primary">Insurance</a>
    <a href="" class="btn btn-primary">Select Patient</a>
    <button id="selectPatientNavPanelButton" onclick="selectPatientNavPanelButtonClick()" type="button" class="btn btn-primary">Select Patient</button>
    <button id="insuranceNavPanelButton" onclick="insuranceNavPanelButtonClick()" type="button" class="btn btn-primary">Insurance</button>
    <button id="claimsNavPanelButton" onclick="claimsNavPanelButtonClick()" type="button" class="btn btn-primary">Claims</button>
    <button id="orderNavPanelButton" onclick="orderNavPanelButtonClick()" type="button" class="btn btn-primary">Orders</button>
    <button id="patientHistoryNavPanelButton" onclick="patientHistoryNavPanelButtonClick()" type="button" class="btn btn-primary">Patient History</button>
    <button type="button" class="btn btn-primary">Patient Care</button>
    <button type="button" class="btn btn-primary">Messaging</button>
    <button type="button" class="btn btn-primary">Calendar</button>
    <button type="button" class="btn btn-primary">Documents</button>
