<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Healthcare</title>


<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='js/script.js') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap-5.0.2-dist/css/bootstrap.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap-5.0.2-dist/js/bootstrap.js') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body class="siteBackground">

<div id="completeWrapper" class="completeWrapper container">

<div id="topRibbonWrapper" class="row topRibbon container justify-content-md-center">
  <div id="container" class="row  ">
    <div class="col-12">

      <div id="asd" class="row  ">
        <div class="col-2">PATIENT NAME: Jimmy Dean</div>
        <div class="col-2"><!-- spacer --></div>
        <div class="col-2">DOB: 06/10/1937</div>
        <div class="col-2">GENDER: Male </div>
        <div class="col-2">ID:M123978971</div>
        <div class="col-2">NAME: </div>
      </div>

      <div id="asd2" class="row  ">
        <div class="col-2">HEIGHT: 1.9M</div>
        <div class="col-2">WEIGHT: 190 lbs.</div>
        <div class="col-4">ATTENDING: Dr Red Duke</div>
        <div class="col-2">INSURANCE: Self Pay </div>
        <div class="col-2">PRIMARY CONTACT: 205 555 5228</div>
      </div>

    </div>


    </div>

</div> <!-- topRibbonWrapper -->


<div class="row " id="navAndContentRow">

  </div>

  <div class="col-2 d-grid gap-2 navPanel" id="leftNavPanel">

    <span><!--spacer--></span><BR>
    <span>Welcome, PATIENT NAME</span><BR>
    <span><!--spacer--></span><BR>
    <span><!--spacer--></span><BR>
    <span>PROVIDER VIEW<BR>PATIENT NAME</span><BR>
    <span><!--spacer--></span><BR>
    <span><!--spacer--></span><BR>
    <button class="btn btn-primary"><a href="{{url_for('employeeForm')}}"> Create Employee</a></button>
    <button id="insuranceNavPanelButton" onclick="insuranceNavPanelButtonClick()" type="button" class="btn btn-primary">Insurance</button>
    <button id="claimsNavPanelButton" onclick="claimsNavPanelButtonClick()" type="button" class="btn btn-primary"> Claims</button>
    <button id="orderNavPanelButton" onclick="orderNavPanelButtonClick()" type="button" class="btn btn-primary">Orders</button>
    <button id="patientHistoryNavPanelButton" onclick="patientHistoryNavPanelButtonClick()" type="button" class="btn btn-primary">Patient History</button>
    <button type="button" class="btn btn-primary">Patient Care</button>
    <button class="btn btn-primary"><a href="{{url_for('messaging')}}"> Messaging</a></button>
    <button type="button" class="btn btn-primary">Calendar</button>
    <button id="documentsNavPanelButton" onclick="DocumentsNavPanelButtonClick()" type="button" class="btn btn-primary"> Documents </button>
    <span><!--spacer--></span><BR>

  </div>
  <div class="contentPanel" id="mainPageContent">
  <!--    <iframe class="contentPanel" id="mainContent" scrolling="yes" width="100%" height="100%"></iframe> -->
    <span>
      {% block content %}

      {% endblock %}
    </span>

  </div>





</div> <!-- navAndContentRow -->




</div> <!-- completeWrapper -->





</body>
</html>
