<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Insurance wireframe</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  <link rel= "stylesheet" type= "text/javascript" href= "{{ url_for('static',filename='js/script.js') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap-5.0.2-dist/css/bootstrap.css') }}">
  <link rel= "stylesheet" type= "text/javascript" href= "{{ url_for('static',filename='bootstrap-5.0.2-dist/js/bootstrap.js') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<script type="text/javascript" src="includes/js/script.js"></script>
<body class="siteBackground">

HEHRHERHEHRHEHRER
</body>